@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {

  .no-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari and Opera */
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply font-bold text-[24px] leading-[35px] tracking-[-0.33px]
}

h2 {
  @apply font-bold text-[20px] leading-[29px] tracking-[-0.25px]
}

h3 {
  @apply font-bold text-[18px] leading-[26px] tracking-[-0.25px]
}

h4 {
  @apply font-bold text-[14px] leading-[20px] tracking-[-0.2px]
}

.regular-1 {
  @apply font-normal text-[16px] leading-[23px]
}

.regular-2 {
  @apply font-normal text-[15px] leading-[22px]
}

.semibold {
  @apply font-semibold text-[13px] leading-[19px]
}